    <!-- header -->
    <div class="jumbotron">
        <h1 class="display-3">New York Times Scraper</h1>
        <p class="lead"></p>
        <hr class="my-4">
        <p>Find recent articles from the New York Times.</p>
      

        <p class="lead">
          <a class="btn btn-lg" id="scrape" href="/articles" role="button">Update</a>
          <a class="btn btn-lg" id="saved" href="/saved" role="button">Saved Articles</a>

        </p>
    </div>