    <!-- header -->
    <div class="jumbotron">
        <h1 class="display-3">New York Times Scraper</h1>
        <p class="lead"></p>
        <hr class="my-4">
        <p>Find recent articles from the New York Times.</p>
        <p class="lead">
          <a class="btn btn-lg" id="scrape" href="/articles" role="button">Update</a>
          <a class="btn btn-lg" id="saved" href="/saved" role="button">Saved Articles</a>

        </p>
    </div>

    <div id="buttons">
    </div>
  <div class= "container">
    <div id="results">
          <!-- Results from DB here -->
          <h3 id="article-title"></h3>
          <p id="article-summary"></p>
          <a href="article-link"></a>
          <!-- <button id="save">Save</button> -->
          <br>

          {{!-- comment modal --}}
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="form-group">
                            <label for="message-text" class="form-control-label">Comments:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Post</button>
                      </div>
                    </div>
                  </div>
                </div>

    </div>
  </div>
    <script src="app.js"></script>
