
    <!-- header -->
    <div class="jumbotron">
        <h1 class="display-3">Saved Articles</h1>
        <p class="lead"></p>
        <hr class="my-4">
        <p>These are your articles from the New York Times.</p>
        <p class="lead">
          <a class="btn btn-lg" id="scrape" href="/articles" role="button">Home</a>

        </p>
    </div>

    <div id="buttons">
    </div>
  <div class= "container">
    <div id="saved-results">
          <!-- Results from DB here -->
          <h3 id="saved-title"></h3>
          <p id="saved-summary"></p>
          <a href="saved-link"></a>
          <br>
    </div>
  </div>
    <script src="app.js"></script>