* {
  border-radius: 0 !important;
  font-family: 'Raleway', sans-serif;
}

.jumbotron {
	text-align: center;
}

.btn-lg {
	background-color: #363636;
	outline: 0px;
	color: white;
	margin: 5px;

}

.btn-md {
	background-color: #363636;
	outline: 0px;
	color: white !important;
	margin: 5px;

}

.btn:hover {
	background-color: #626065;
	outline: 0px;
	color: white;
	margin: 5px;

}


#results {
	/*background-color: #EEEEEE;*/
	padding: 10px;
}